.none{
    display: none;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91.8vh;
}



.tabelle{
    height: 70vh;
    overflow: auto;

}

.fa-bell{
    color:#ff9003 ;
    margin-bottom: 0.6rem;
}





@media screen and (min-width:992px){
    .none{
        display: inline;
    }
    .tabelle{
        height: 81vh;
    }
    .side{
        height: 93.7vh;
    }

  
}





